// vars 
@import "./global/global";
@import "./global/vars";

// blocks
@import "./blocks/header";
@import "./blocks/hero";
@import "./blocks/topKated";
@import "./blocks/luxury";
@import "./blocks/information";
@import "./blocks/subscribe";
@import "./blocks/review";
@import "./blocks/_footer";

// media

@import "./media/media";

// main 

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
  
.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    overflow: hidden;
}