.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.header--fixed {
    transition: .1s ease;
    backdrop-filter: blur(70px);
}

.site-top {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
}

.navigation {

    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__link {
        font-family: 'Forum';
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;

        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: $black;
        transition: color .5s;

        &:hover {
            color: $blue-nav;
        }
    }
   
}

.button {
    border: 0;
    background: 0;
    &__mob {
        display: none;
    }
}

.button-nav {
    display: block;
    cursor: pointer;
    position: relative;
    text-align: center;
    
    @include buttonMenu;
}


// mob

.nav-mob {
    position: fixed;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 0;
    top: 0;
    z-index: 50;
    background: $mobH;
    width: 100%;
    height: 100%;
    overflow: scroll;
    transition: 0.5s;

    transform: scaleX(0) translate(-100%, -100%);

    &__list {
        position: relative;
        gap: 64px 0;
        align-items: center;
        display: flex;
        flex-direction: column;

        &::after {
            content: '';
            position: absolute;
            background: url('../img/header/decore-mob.svg') no-repeat;
            width: 263px;
            height: 509px;
            z-index: -2;
        }
    }

    &__link {
        font-family: 'Forum';
        font-weight: 400;
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: $black;
    }
}

.active-mob {
    transform: scaleX(1) translate(0);
}

.burger {
    display: none;
    position: relative;
    width: 60px;
    height: 24px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    
     &__burger-line {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        transform: translateY(-50%);
        background-color: #ffffff;
        border-radius: 10px;
        transition: opacity 0.3s ease-in-out;
     }
    
     &::before, &::after {
        content: '';
        position: absolute;
        height: 1px;
        background-color: #ffffff;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
     }
        &::before {
            width: 46px;
            right: 0;
            top: 0;
        }
            &::after {
                width: 100%;
                left: 0;
                bottom: 0;
            }
    
}
